<!DOCTYPE html>
<html  lang="ro">
    <%- include("../fragmente/head.ejs") %>
    <script type="text/javascript" src="../resurse/js/produse.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <body>
    <%- include("../fragmente/header.ejs") %>

    <main>
        <div class="row" style="padding-top: 25px;">
        <div class="col-md-3">
            <div class="form-floating mb-3">
                <input type="name" class="form-control" id="inp-nume" placeholder="Harley">
                <label for="inp-nume">Nume</label>
              </div>
            </div>
        </div>
        <!-- <p class="mistake" style="display: none;">Input gresit!</p> -->
        <!-- <div class="form-floating sm-12">
            <input type="email" class="form-control" aria-label="small" id="floatingInput" placeholder="Harley">
            <label for="floatingInput">Nume </label>
            input: Mai multe cuvinte
            input: Mbi multe cuvinte
            -> output: Mai multe cuvinte
          </div> -->
        <!-- <label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label> -->
        
        <!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
        
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="<%- locals.val1 %>" name="flexRadioDefault" id="i_rad1">
            <label class="form-check-label" for="i_rad1">
              Decibeli (&lt; <%- locals.val1 %>)
            </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="<%- locals.val1 %>:<%- locals.val2 %>" name="flexRadioDefault" id="i_rad2">
            <label class="form-check-label" for="i_rad2">
              Mediu (<%- locals.val1 %> &le; decibeli &lt; <%- locals.val2 %>)
            </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="700" name="flexRadioDefault" id="i_rad3">
            <label class="form-check-label" for="i_rad3">
              Ridicat (<%- locals.val2 %> &le; decibeli)
            </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="0:<%- locals.val4 %>" name="flexRadioDefault" id="i_rad4">
            <label class="form-check-label" for="i_rad4">
              Toate
            </label>
        </div>
        <!-- <input type="checkbox" id="inp-voucher" name="Voucher" value="have">
        <label for="voucher"> Voucher</label><br> -->


        <div class="form-check" style="padding:24px;">
            <input class="form-check-input" type="checkbox" value="" id="inp-voucher">
            <label class="form-check-label" for="inp-voucher">
              Voucher
            </label>
        </div>

        <!-- <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="checkbox" autocomplete="off" id="inp-voucher"> Voucher
            </label>
        </div> -->
        

        <div class="form-check" style="padding:24px; display: none;">
            <input class="form-check-input" type="checkbox" value="" id="inp-not-voucher">
            <label class="form-check-label" for="inp-not-voucher">
              Not Voucher
            </label>
        </div>
        <div class="row" style="padding: 24px;">
            <div class="col-sm-6">
                <div class="switch-field">
                    <input type="radio" id="are" name="switch-one" value="yes" checked/>
                    <label for="are"><i class="bi bi-check2"></i><span class=btn-span">Are</span></label>
                    <input type="radio" id="nu-are" name="switch-one" value="no" />
                    <label for="nu-are"><i class="bi bi-check2"></i><span class="btn-span">Nu Are</span></label>
                  </div>
            </div>
            <div class="col-sm-6">
                <div class="form-check form-check-inline" style="padding:24px;">
                    <input class="form-check-input" type="checkbox" value="black,orange" id="cuv-cheie-1">
                    <label class="form-check-label" for="cuv-cheie-1">
                        black,orange
                    </label>
                </div>
                <div class="form-check form-check-inline" style="padding:24px;">
                    <input class="form-check-input" type="checkbox" value="black,matte" id="cuv-cheie-2">
                    <label class="form-check-label" for="cuv-cheie-2">
                      black,matte
                    </label>
                </div>
                <div class="form-check form-check-inline" style="padding:24px;">
                    <input class="form-check-input" type="checkbox" value="purple,matte" id="cuv-cheie-3">
                    <label class="form-check-label" for="cuv-cheie-3">
                      purple,matte
                    </label>
                </div>
                <div class="form-check form-check-inline" style="padding:24px;">
                    <input class="form-check-input" type="checkbox" value="black,silver" id="cuv-cheie-4">
                    <label class="form-check-label" for="cuv-cheie-4">
                      black,silver
                    </label>
                </div>
            </div>
        </div>
        </div>
       

        <label> Pret maxim: <%- locals.pret_limita_superioara %> <input class="form-range" type="range" id="inp-pret" value="0" min="0"  max="<%- locals.pret_limita_superioara %>"> <span id="infoRange">(0)</span></label>
        <div class="row">
            <div class="col-md-3">
        <label style="font-size: large;">Select simplu
        <select id="inp-categorie" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option id="sel-toate" selected value="toate">toate</option>
            <% for (let opt of locals.optiuni) { %>
                <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
            <% } %>
          </select>
          </label>
          </div>
          <div class="col-md-3">
            <div class="form-outline">
                <input type="number" id="quantity" class="form-control" min="<%- locals.garantie_limita_inferioara %>" max="<%- locals.garantie_limita_superioara %>"/>
                <label class="form-label" for="quantity">Garantie (intre 1 si 3)</label>
            </div>
          </div>
          <div class="col-md-3">
          <label class="form-label select-label">Garantie ( Multiplu select ):
          <select id="inp-garantie" class="form-select" multiple aria-label="multiple select example">
            <% for (let prod of locals.garantie) { %>
                <option value="<%- prod.garantie %>"><%- prod.garantie %></option>
            <% } %>
              </select>
            </label>
          </div>
          <div class="col-md-3">
            <label for="exampleDataList" class="form-label">Tip Acustic/Electric/Accesorii ( Datalist ):</label>
                <input class="form-control" list="inp-datalist" id="exampleDataList" placeholder="Type to search...">
                <datalist id="inp-datalist">
                   <% for (let tip of locals.tip_produs) { %>
                    <option value="<%- tip.tip_produs %>"><%- tip.tip_produs %></option>
                <% } %>
                </datalist>

          </div>
          </div>
          
        <!-- <label>Select simplu:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label> -->
           
        
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-light" id="filtrare"><i class="bi bi-arrow-clockwise"></i><span class="btn-span">Filtreaza</span></button> 
                <button class="btn btn-danger" id="resetare"><i class="bi bi-arrow-repeat"></i><span class="btn-span">Reseteaza</span></button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" id="sortCrescNume"><span class="btn-span">Sorteaza crescator dupa pret si nume</span><i class="bi bi-arrow-up"></i></button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" id="sortDescrescNume"><span class="btn-span">Sorteaza descrescator dupa pret si nume</span><i class="bi bi-arrow-down"></i></button>
            </div>
        </div>

        
        <p id="output"></p>
        <div id="output2"></div>
        
        <p id="p-suma">Apăsați butonul pentru suma preturilor produselor afișate. </p>
        <button class="btn btn-warning" id="btn-suma">Total</button>

        <h3 id="ultimul-produs"></h3>

        <section id="produse">
            <h2 id="h2-produse">Produse</h2>
            <div class="grid-produse">
               <% for (let prod of locals.produse) { %>
                
                    <!-- <div class="col-sm-6" style="padding:10px;"> -->
                        <article class="produs" id="output2"  >
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="row info-prod">
                            <div class="col-sm-6">
                                <figure>
                                    <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                                </figure>
                                <ul class="detalii-prod">
                                    <li><p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p></li>
                                    <li><p class="garantie">Garantie: <span class="val-garantie"><%- prod.garantie%></span></p></li>
                                    <li><p class="gramaj">Decibeli: <span class="val-gramaj"><%- prod.gramaj%></span></p></li>
                                    <li><p class="voucher">Voucher: <span class="val-voucher"><%- prod.voucher%></span></p></li>
                                    <p class="tip" style="display: none;">Tip Produs: <span class="val-tip"><%- prod.tip_produs%></span></p>
                                    <li><p class="culori">Culori: <span class="val-culori"><%- prod.culori%></span></p></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <p class="categorie">Categorie: <span class="val-categorie"><%- prod.categorie%></span></p>
                                <p class="descriere">Descriere: <span class="val-descriere"><%- prod.descriere%></span></p>
                                <p class="data">Data adaugarii: <time><span class="val-time"><%- prod.data_adaugare%></span></time></p>
                            </div>
                        </div>
                        
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" id="linksNewWindow" class="select-cos" value="<%-prod.id %>" autocomplete="off" onChange="set_check()">
                        </label>
                    </article>
                    <% } %>

                    </div>
                    
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>