<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Profil</title>
		<%- include("../fragmente/head") %>
        
		<link rel="stylesheet" type="text/css" href="/resurse/css/contact.css" />
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
			<% if(locals.utilizator) { %>
			<section>
				<h2>Profil</h2>
				<p><%= locals.raspuns %></p>
				<img src="/<%- locals.utilizator.cale_imagine %>" alt="nu ati incarcat poza de profil" />
			</section>
			<%- include("../fragmente/formular-stergere-cont",{action:"/profil-stergere"}) %>
		</main>
		<% } else { %>
			<p>Nu sunteti logat</p>
		<% } %>
		<%- include("../fragmente/footer") %>
		
	</body>
</html>